<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<TabView android.position="top" _automaticallyAdjustsScrollViewInsets="true">
    <StackLayout *tabItem="{title: 'Facebook'}">
        <WebView height="100%" src="https://www.facebook.com"></WebView>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Instagram'}">
        <WebView height="100%" src="https://www.instagram.com"></WebView>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Twitter'}">
        <WebView height="100%" src="https://www.twitter.com"></WebView>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Linkedin'}">
        <WebView height="100%" src="https://www.linkedin.com"></WebView>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Pinterest'}">
        <WebView height="100%" src="https://www.pinterest.com"></WebView>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Google+'}">
        <WebView height="100%" src="https://plus.google.com"></WebView>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Youtube'}">
        <WebView height="100%" src="https://www.youtube.com"></WebView>
    </StackLayout>
</TabView>